* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right bottom, #08d9d6, #eaeaea);
    min-height: 100vh;
}

h1 {
    margin: 10px;
}

h1, .intro {
    text-align: center;
}

.desktop-image-container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, max-content));
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2vw;
    grid-auto-rows: min-content;
    justify-items: center;
}

.card {
    transition: all 0.3s;
    top: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 260px 20px 1fr 1fr 1fr;
    width: 100%;
    background-color: #252a34;
    color: #eaeaea;
    margin: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-width: 260px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    
}

img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

p {
    margin: 5px 0;
}

h2 {
    padding: 20px 10px;
    transform: translateY(25%);
    background-color: #ff2e63;
    color: #eaeaea;
    width: 100%;
    opacity: 0.7;
    font-size: 30px;
    font-weight: 200;
    text-transform: capitalize;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    /* clip-path: polygon(0 0, 95% 0, 85% 100%, 0 100%); */
}

.values {
    color: #08d9d6;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
    min-height: 60px;
    grid-column: 2 / 3;
}

.properties {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 10px;
    min-height: 86px;
}

.type {
    grid-row: 3 / 4;
    border-bottom: 1px solid #ff2e63;
    text-transform: uppercase;
}

.abilities {
    grid-row: 4 / 5;
    border-bottom: 1px solid #ff2e63;
    text-transform: uppercase;
}

.weight {
    grid-row: 5 / 6;
    text-transform: uppercase;
}

.type-values {
    grid-row: 3 / 4;
    border-bottom: 1px solid #ff2e63;
}

.abilities-values {
    grid-row: 4 / 5;
    border-bottom: 1px solid #ff2e63;
}

.weight-values {
    grid-row: 5 / 6;
}

.image-container {
    display: none;
}




.fly-away {
    transform: translateY(-60vh);
}

@media screen and (min-width: 320px) and (max-width: 667px) {

    body {
        background: white;
        overflow-y: hidden;
    }

    .image-container {
        display: flex;
        overflow-x: scroll;
    }
    
    .image-container img {
        padding-top: 25vh;
        padding-bottom: 25vh;
        width: 200px;
        height: auto;
        flex-shrink: 0;
        transition: all 0.3s;
    }

    .desktop-image-container, .desktop {
        display: none;
    }
}